<div id="cmp-DonationForms2026" class="donate-2026-embed-root">
  <div class="donate-2026-tabs" role="tablist" aria-label="Donation methods">
    <button
      type="button"
      class="donate-2026-tab"
      id="donate-2026-tab-card"
      role="tab"
      aria-selected="true"
      aria-controls="donate-2026-panel-card"
      data-panel="card"
    >
      Card, PayPal, Bank
    </button>
    <button
      type="button"
      class="donate-2026-tab"
      id="donate-2026-tab-other"
      role="tab"
      aria-selected="false"
      aria-controls="donate-2026-panel-other"
      data-panel="other"
    >
      Crypto, Stock, DAF
    </button>
  </div>

  <section
    id="donate-2026-panel-card"
    class="donate-2026-embed-panel active"
    role="tabpanel"
    aria-labelledby="donate-2026-tab-card"
  >
    {{ partial "donorbox-2026.html" . }}
  </section>

  <section
    id="donate-2026-panel-other"
    class="donate-2026-embed-panel"
    role="tabpanel"
    aria-labelledby="donate-2026-tab-other"
    hidden
  >
    <div class="donate-2026-embed-frame donate-2026-embed-frame--tgb">
      <script id="tgb-widget-script">
        !function t(e,i,n,g,x,r,s,d,a,y,w,q,f,u,t,c,o){var p="widgetOptions";e[p]?(e[p]=e[p].length?e[p]:[e[p]],e[p].push({id:r,apiUserUuid:x,domain:g,buttonId:d,scriptId:s,uiVersion:a,campaignId:q,donationFlow:y,fundraiserId:w,preselectedCryptocurrencies:f,donationFormTitle:u,iframeTitle:t})):e[p]={id:r,apiUserUuid:x,domain:g,buttonId:d,scriptId:s,uiVersion:a,campaignId:q,donationFlow:y,fundraiserId:w,preselectedCryptocurrencies:f,donationFormTitle:u,iframeTitle:t},(c=i.createElement(n)).src=[g,"/widget/script.js"].join(""),c.async=1,(o=i.getElementById(s)).parentNode.insertBefore(c,o)}(window,document,"script","https://widget.thegivingblock.com","e6cf7d18-41b6-4a6c-954a-338578fd90b0","1189132012","tgb-widget-script","tgb-widget-button","2","","","",undefined,undefined,"Donation form powered by The Giving Block");
      </script>
    </div>
  </section>
</div>
