<div>
  <div class="text-[#003366] donate-2025-stat-text mb-20">
    {{ T "donate_page_funding_details_stat_text" }}
  </div>
  <!-- <p class="mt-4 text-gray-700 donate-2025-stat-paragraph mb-8">
    {{ T "donate_page_funding_details_paragraph" }}
  </p> -->
</div>
<div>
  <h2 class="text-heading-yellow mb-5">{{ T "donate_page_funding_details_why_support_heading" }}</h2>
  <ul class="list-lock-icon">
    <li>
      <p>{{ T "donate_page_funding_details_list_item1" }}</p>
    </li>
    <li>
      <p>{{ T "donate_page_funding_details_list_item2" }}</p>
    </li>
    <li>
      <p>{{ T "donate_page_funding_details_list_item3" }}</p>
    </li>
    <li>
      <p>{{ T "donate_page_funding_details_list_item4" }}</p>
    </li>
  </ul>
</div>
