<iframe id="newsletter-iframe" src="https://outreach.abetterinternet.org/l/1011011/2025-01-14/31v6r" title="newsletter" class="w-full border-0 overflow-hidden"></iframe>
<script>
(function() {
    window.addEventListener('message', function(e) {
        if (e.origin !== 'https://outreach.abetterinternet.org') return;
        if (e.data && typeof e.data === 'object' && e.data.type === 'resize' && e.data.height) {
            document.getElementById('newsletter-iframe').setAttribute('height', e.data.height + 20);
        }
    });
})();
</script>