baseURL = "https://letsencrypt.org/"

defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false

disableKinds = ["taxonomy", "term"]

enableRobotsTXT = true

# Note that this currently has no effect in Hugo.
timezone = "America/Los_Angeles"

assetDir = "src"

[params]

# Default page top graphic if not set in page front matter. This is an integer representing the base filename.
# See the JPEG files below /static/images.
top_graphic = 5

github_username = "letsencrypt"
twitter_username = "letsencrypt"
mastodon_username = "letsencrypt"
crowdfunding_url = "https://www.generosity.com/community-fundraising/make-a-more-secure-web-with-let-s-encrypt"

# Date and time formatting, see https://gohugo.io/functions/format/
time_format_RFC3339 = "2006-01-02T15:04:05Z07:00"
time_format_RFC822 = "Mon, 02 Jan 2006 15:04:05 -0700"
time_format_default = ":date_medium"

# Useful when translating.
enableMissingTranslationPlaceholders = true

show_fundraiser = false

# Be explicit about the output formats. We only want an RSS feed for the home page.
[outputs]
home = [ "HTML", "RSS" ]
page = [ "HTML"]
section = [ "HTML"]

[outputFormats]
[outputFormats.RSS]
baseName = "feed"

# Hugo >= 0.33 is needed to get uglyURLs per section.
[uglyURLs]
post = true

[permalinks]
post = "/:year/:month/:day/:slug/"

[markup]
defaultMarkdownHandler = "goldmark"

[markup.goldmark]
[markup.goldmark.renderer]
unsafe = true
[markup.goldmark.parser]
# To keep ยง ids identical after the migration from blackfriday to goldmark
autoHeadingIDType = "blackfriday"

# https://gohugo.io/getting-started/configuration-markup#highlight
# https://gohugo.io/content-management/syntax-highlighting/#list-of-chroma-highlighting-languages
# To update /src/css/_syntax-highlighting.scss:
# - https://gohugo.io/content-management/syntax-highlighting/#generate-syntax-highlighter-css
# - https://xyproto.github.io/splash/docs/all.html
# (with dark-mode in mind)
[markup.highlight]
# To avoid inline styles
noClasses = false
guessSyntax = false
