_site/
.sass-cache/
.jekyll-metadata
js/*.tsv
Gemfile.lock
public/
nohup.out
/node_modules
.idea
static/js/main.min.js
static/css/main.min.css
resources/_gen/
.hugo_build.lock
.vscode/
**/.DS_Store
hugo_stats.json
themes/le-2025/assets/css/le-2025-theme-output.css
