language: generic

before_install:
  - wget https://github.com/gohugoio/hugo/releases/download/v0.62.0/hugo_0.62.0_Linux-64bit.deb
  - echo "79e4594a891bf5b04997b175d549da6f3e3f913cd19c69fef7c289e50c63867c hugo_0.62.0_Linux-64bit.deb" | sha256sum -c - || exit 1;
  - sudo dpkg -i hugo_0.62.0_Linux-64bit.deb

install:
  - npm install && npm run build && npm test
