<div class="text-white section-padding-xl relative overflow-hidden">
  <div class="hero-bg bg-position-[top_left] md:bg-position-[top_center]"></div>
  <div class="relative z-10 md:pb-5">
    <div class="container mx-auto px-4">
      <div class="grid md:grid-cols-12 gap-8 items-center">
        <div class="md:col-span-8">
          <div class="text-left">
            <h1
              class="text-4xl md:text-6xl font-bold mb-3 leading-[1.05] md:leading-[1.05]"
            >
              {{ .title }}
            </h1>
          </div>
        </div>
        <div class="hidden md:visible md:col-span-4">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
