{{ define "main" }}
<div class="blog">
  <ul class="post-list">
    {{ $posts := where .Site.RegularPages "Type" "in" (slice "post") }}
    {{ range $posts }}
    <li>
      <span class="post-meta">{{ .Date.Format $.Site.Params.time_format_default }}</span>
      <h2>
      <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      {{ with .Params.excerpt }}
      {{ . | markdownify }}
      {{ else }}
      {{ .Summary }}
      {{ end }}
      <p><a href="{{ .Permalink }}">{{ i18n "read_more" }}</a></p>
    </li>
    {{ end }}
  </ul>
  {{ with .Site.Home.OutputFormats.Get "RSS" -}}
  <p class="rss-subscribe">{{ i18n "subscribe_rss" . | safeHTML }}</a></p>
  {{ end  }}
</div>
{{ end }}