<section class="section-padding bg-white">
  <div class="container mx-auto px-4">
    <div class="max-w-4xl mx-auto">
      <h2 class="text-3xl md:text-4xl font-bold mb-6 text-center">
        {{ T "stats_section_title" }}
      </h2>

      <div>
        <div id="activeUsage" title="{{ T "stats_section_title" }}" class="w-full h-[400px]"></div>
      </div>

      <div class="text-center">
        <a href="/stats" class="btn btn-primary">
          {{ T "stats_section_button" }}
        </a>
      </div>

    </div>
  </div>
</section>

{{ partial "plotly.html" . }}
