/* Open Sans @font-face kit */

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Light.eot');
  src: url('/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/OpenSans-Light.woff') format('woff'),
       url('/fonts/OpenSans-Light.ttf') format('truetype'),
       url('/fonts/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.eot');
  src: url('/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/OpenSans-Regular.woff') format('woff'),
       url('/fonts/OpenSans-Regular.ttf') format('truetype'),
       url('/fonts/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.eot');
  src: url('/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/OpenSans-Bold.woff') format('woff'),
       url('/fonts/OpenSans-Bold.ttf') format('truetype'),
       url('/fonts/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
