{{ define "main" }}

{{ $want := slice "/about/" "/how-it-works/" "/getting-started/" "/certificates/" "/upcoming-features/" "/docs/expiration-emails/" "/docs/account-id/" "/docs/acme-protocol-updates/" "/docs/allow-port-80/" "/docs/certificate-compatibility/" "/docs/certificates-for-localhost/" "/docs/challenge-types/"  "/docs/integration-guide/" "/docs/staging-environment/" "/docs/revoking/" "/docs/rate-limits/" "/docs/faq/" "/docs/caa/" "/docs/ct-logs/" "/docs/glossary/" "/getinvolved/" "/contact/" "/sponsors/" "/become-a-sponsor/" }}

{{ $scratch := newScratch }}

{{ range $.Site.RegularPages }}
	{{ $page := $scratch.Set .RelPermalink . }}
{{ end }}


<div class="page-content">
	<div class="wrapper">
		<ul>
		{{ range $want }}
			{{ $page := $scratch.Get . }}
			{{ if not $page }}{{ errorf "missing page %q for onepage" . }}{{ end }}
			<li>
				<a href="#page-{{ $page.RelPermalink }}">{{ $page.Title }}</a>
			</li>
		{{ end }}
		</ul>

		{{ range $want }}
			{{ $page := $scratch.Get . }}
			<h1><a id="page-{{ $page.RelPermalink }}"></a>{{ $page.Title }}</h1>

			{{ $scratch.Set "tmp" $page.Content }}

			{{/* we replace link to anchors */}}
			{{ range $want }}
				{{ $content := $scratch.Get "tmp" }}
				{{ $href := printf "href=\"%s\"" . }}
				{{ $anchor := printf "href=\"#page-%s\"" . }}
				{{ $content = replace $content $href $anchor }}
				{{ $scratch.Set "tmp" $content }}
			{{ end }}

			{{ $scratch.Get "tmp" | safeHTML }}
		{{ end }}

	</div>
</div>

{{ end }}

