{{ if and (ne .Section "docs") (not .Params.no_donate_footer) }}
<div class="donate-footer">
  <div class="wrapper text-center">
    <h2>{{ i18n "footer_support_us" }}</h2>
    <div class="buttons">
      <a class="accent" href="{{ "donate/" | relLangURL }}">{{ i18n "footer_donate" }}</a>
    </div>
  </div>
</div>
{{ end }}

<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="social-media-list">
          {{ with .Site.Params.github_username }}
          <li>
            <i class="fab fa-github" aria-hidden="true"></i>
            <a href="https://github.com/{{ . }}">
              <span class="username">GitHub</span>
            </a>
          </li>
          {{ end }}

          {{ with .Site.Params.twitter_username }}
          <li>
            <i class="fab fa-twitter" aria-hidden="true"></i>
            <a href="https://twitter.com/{{ . }}">
              <span class="username">Twitter</span>
            </a>
          </li>
         {{ end }}
        </ul>
        {{ i18n "footer_policies" | safeHTML }}
      </div>

      <div class="footer-col  footer-col-2">
        <p>{{ .Site.Params.description | safeHTML }}</p>
        <p>
          <span itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">548 Market St, PMB 57274</span>,
            <span itemprop="addressLocality">San Francisco</span>,
            <span itemprop="addressRegion">CA</span>
            <span itemprop="postalCode">94104-5401</span>,
            <span itemprop="addressCountry">USA</span>
          </span>
        </p>
        <p>{{ i18n "footer_mailing" }}</p>
        <p>
          <span itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">PO Box 18666</span>,
            <span itemprop="addressLocality">Minneapolis</span>,
            <span itemprop="addressRegion">MN</span>
            <span itemprop="postalCode">55418-0666</span>,
            <span itemprop="addressCountry">USA</span>
          </span>
        </p>
        <div>
          <a href="https://collabprojects.linuxfoundation.org/" target="_blank"><img src="/images/linux-foundation.png" alt="Linux Foundation Collaborative Projects" /></a>
        </div>
        {{ i18n "linux_foundation_trademark" }}
      </div>
    </div>

  </div>

  {{ $js := resources.Get "js/main.js" | fingerprint "sha512" }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

</footer>
