<header class="site-header">
  <a id="skiplink" href="#main-content">{{ i18n "header_skip_nav" }}</a>
  <div class="wrapper">
    <div class="linux-foundation-link">
      <a href="https://collabprojects.linuxfoundation.org/" target="_blank"><img src="/images/linux-foundation.png" alt="Linux Foundation Collaborative Projects" /></a>
    </div>
    <a class="site-title" href="{{ .Site.Home.RelPermalink }}"><img src="/images/letsencrypt-logo-horizontal.svg" alt="Let's Encrypt"></a>

    <span id="menuIcon">
      <i class="fas fa-bars"></i>
    </span>
    <nav class="site-nav" id="menu">
      <div class="pure-menu pure-menu-horizontal custom-can-transform">
        <ul class="pure-menu-list">
          {{ range .Site.Menus.main }}
          <li class="pure-menu-item{{ if .HasChildren }}  pure-menu-has-children pure-menu-allow-hover{{ end }}">
            <a href="{{ .URL }}" class="pure-menu-link" tabindex="0">{{ .Name }}</a>
            {{ if .HasChildren }}
            <ul class="pure-menu-children">
              {{ range .Children }}
              <li class="pure-menu-item">
                <a href="{{ .URL }}" class="pure-menu-link">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
            {{ end }}
          </li>
          {{ end }}
          {{ $home := .Site.Home }}
          {{ if gt (len $home.AllTranslations ) 1 }}
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" class="pure-menu-link">{{ i18n "languages" }} </a>
            <ul class="pure-menu-children">
              {{ range $home.AllTranslations }}
              {{ $isCurrentLang := eq $home.Language .Language }}
              <li class="pure-menu-item">
                <a href="{{ .Permalink }}" class="pure-menu-link">{{ if $isCurrentLang  }}✓ {{ end }}{{ .Language.LanguageName }}</a>
              </li>
              {{ end }}
            </ul>
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</header>
<div id="main-content"></div>
