<!--googleoff: all-->
<p>
{{ if .Page.Lastmod }}
    <!-- No space between "last_updated" and the date (if a space is needed it's in the translated file). -->
    {{ i18n "last_updated" }}<time datetime="{{ .Page.Lastmod.Format "2006-01-02" }}" data-dateformat="{{ $.Site.Params.time_format_default }}">{{ .Page.Lastmod.Format $.Site.Params.time_format_default }}</time>
{{ end }}

{{ if eq .Page.Section "docs" }} | <a href="{{ "docs" | relLangURL }}">{{ i18n "see_all_doc" }}</a>{{ end }}
</p>

{{ $curpage := .Page }}
{{ if and (ne $curpage.Language.Lang "en") (not .Page.Params.untranslated) }}
{{/* If we are not in English we search for the English version */}}
{{ range $curpage.Translations }}
    {{ if eq "en" .Language.Lang }}
        {{ if .Page.Lastmod }}
            {{/* To compare the Lastmod with the current translation */}}   
            {{ if ne $curpage.Lastmod .Page.Lastmod }}
            <p>
                <i>
                    {{ i18n "old_version" }}
                    (<time datetime="{{ .Page.Lastmod.Format "2006-01-02" }}" data-dateformat="{{ $.Site.Params.time_format_default }}">{{ .Page.Lastmod.Format $.Site.Params.time_format_default }}</time>)
                    <a href="{{ .Page.RelPermalink }}">{{ i18n "view_in_english" }}</a>
                </i>
            </p>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
{{ end }}
<!--googleon: all-->
