/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}
.pure-g {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
.pure-g [class*="pure-u"] {
  font-family: $base-font-family;
}

.text-center {
  text-align: center;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Nested `unordered lists` should not have `margin-bottom`
 */
ul ul {
  margin-bottom: 0;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

@include media-query($on-palm) {
  h1 {
    font-size: 1.4em;
    margin-top: 30px;
  }
}

h2.through-line {
  font-size: 14px;
  display: table;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: bold;
  color: $grey-color;
  margin-top: 20px;
  a {
    color: #2b3c69;
    text-decoration: none;
  }
  a:hover {
    color: #2b3c69;
    text-decoration: underline;
  }

  &:after {
    background-clip: padding-box;
    background-image: linear-gradient(
      transparent 47%,
      #dddddd 48%,
      #dddddd 52%,
      transparent 52%
    );
    content: "";
    display: table-cell;
    width: 100%;
    border-left: 10px solid #fdfdfd;
  }
}

h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

.pull-quote-right {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  letter-spacing: -0.5px;

  blockquote {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border: 0;
    padding-left: 0;

    .quote {
      position: absolute;
      &:before {
        font-family: Arial;
        font-size: 4em;
        font-style: normal;
        line-height: 1;
        content: "\201C";
        color: rgb(247, 151, 47);
      }

      & + .quote-text {
        padding-left: 2.25rem !important;
      }
    }

    .quote-text-value {
      font-style: italic !important;
      line-height: 1.7;
      color: #000 !important;
      letter-spacing: -0.5px;
    }

    .blockquote-footer {
      font-size: 80%;
      display: block;
      color: #6c7686;
      font-style: normal;
      letter-spacing: normal;

      cite {
        font-style: italic;
      }

      .blockquote-mdash {
        margin-right: 0.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .pull-quote-right {
    float: right !important;
    max-width: 33.33333%;
    margin-left: 25px;
    flex: 0 0 33.33333%;
  }
}

/**
 * Code formatting
 */
pre,
code {
  direction: ltr;
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  white-space: pre;
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

pre.language-der,
code.language-der {
  background-color: #dee;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(1000px - (#{$spacing-unit} * 2));
  max-width: calc(1000px - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(800px - (#{$spacing-unit}));
    max-width: calc(800px - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

/**
 * Tachyons-esque stuff
 */
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.justify {
  text-align: justify;
}
html[dir="rtl"] .tal {
  text-align: right;
}
.tal {
  text-align: left;
}
html[dir="rtl"] .tar {
  text-align: left;
}
.tar {
  text-align: right;
}
.mlr20 {
  margin-left: 20%;
  margin-right: 20%;
}
html[dir="rtl"] .mr1m {
  margin-left: 1em;
}
.mr1m {
  margin-right: 1em;
}
html[dir="rtl"] .ml1m {
  margin-right: 1em;
}
.ml1m {
  margin-left: 1em;
}

.home_sponsors img {
  background-color: #fff;
  object-fit: contain;
}

a.autoanchor {
  text-decoration: none;
  color: grey;
  font-size: 0.8em;
  margin-left: 0.5em;
}

html[dir="rtl"] a.autoanchor {
  margin-right: 0.5em;
}

.page-content {
  h1,
  h2,
  h3 {
    //same selector as js for anchors
    .autoanchor {
      display: none;
    }
    &:hover {
      .autoanchor {
        display: inline;
      }
    }
  }
}

.list-style-none {
  list-style-type: none;
}

.pic-quote-right__caption {
  margin: 10px auto;
  text-align: center;
  color: #6c7686;
  font-size: 14px;
}

@media (min-width: 768px) {
  .pic-quote-right {
    float: right !important;

    max-width: 33.33333%;
    margin-left: 25px;

    flex: 0 0 33.33333%;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 0.25rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.post-footer {
  background-color: #2b3c69;
  color: #fff;
  padding: 1.5rem;
  margin-top: 2rem;
}

.post-footer a {
  color: #eca541;
}

.post-footer h6 {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  margin-top: 0;
}


.post-footer p:last-child {
  margin-bottom: 0;
}


