.fundraiser-wrapper {
  display: none;
}

.fundraiser-lead, .fundraiser-end {
  margin-top: 64px;
  margin-bottom: 64px;
}

.fundraiser-lead h3 {
  font-weight: bold;
  font-size: 2em;
  color: #2B3C69;
}

.fundraiser-end h4 {
  font-weight: bold;
  font-size: 1.5em;
  color: #2B3C69;
}

