/**
 * Linux Foundation Collaborative Projects
 */
 
 
// Footer
.linuxfoundation-collab-footer {
  background: url(../images/linuxfoundation-collab-bg.png);
  border-top: 1px solid #e8e8e8;
  color: #393939;
  font-size: 11px;
  line-height: 16px;
  padding-bottom: 15px;
  padding-top: 15px;  
  margin-bottom: 0px;
  
  p {
    margin-bottom: 5px;
  }
  
  * {
    &:last-child {
      margin-bottom: 0; // Remove bottom margin from last element
    }
  }
}