/* OSN Event */
.larger-h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.larger-p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.le-newsletter-form-container {
    max-width: 520px;
    margin: 0 auto;

    &.left-aligned {
        margin: 0;
    }
}