@charset 'utf-8';

$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;
$footer-spacing-unit: 45px;

$text-color: #000;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$secondary-color: #1678d3;
$logo-yellow-color: rgb(236,165,65);
$logo-blue-color: rgb(47,60,102);

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$smallest: 599.9px;
$on-palm: 730px;
$on-laptop: 800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.dashboard {
  text-align: center;
}

.statsgraph {
  display: block;
  max-width: 100%;
  text-align: center;
  width: 100%;
}

.inline-icon {
  height: 1.5em;
  width: 1.5em;
}

.footnotes hr {
  margin-bottom: 20px;
}

.blog-image-caption {
  margin: 0 0 20px 0;
  text-align: center;
  color: #888;
}

article.post-content p img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blog-post-image figcaption {
  font-size: 80%;
  color: #888;
  text-align: center;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "fonts", "pure", "pure-fix", "base", "layout", "nav",
  "syntax-highlighting", "donate", "fundraiser", "waiting", "single-pages";
