@layer components {
  /* Right-aligned image with caption */
  .pic-quote-right {
    @apply w-full mb-6;
  }

  .pic-quote-right__caption {
    @apply text-sm text-gray-600 text-center mt-2;
  }


.annual-report-section  img {
  max-height: 300px;
  object-fit: contain;
}

.about-section img {
  max-height: 300px;
  object-fit: contain;
}

  @screen md {
    .pic-quote-right {
      @apply float-right max-w-[33.33333%] ml-[25px] flex-[0_0_33.33333%];
    }
  }
}