{{ range $.Site.Data.clients.categories }}
    <h2 id="clients-{{ urlize . }}">{{ . }}</h2>
    {{ $category := . }}
    <ul>
    {{ range $.Site.Data.clients.list }}
        {{ if eq $category .category }}
        <li {{ if not .acme_v2 }}style="color:grey"{{ end }}>
            <a {{ if not .acme_v2 }}style="color:grey"{{ end }} href="{{ .url }}">{{ .name }}</a>
            {{ if .category_comments }}
                {{ .category_comments | markdownify }}
            {{ else if .comments }}
                {{ .comments | markdownify }}
            {{ end }}
            {{ if not .acme_v2 }}<a href="#acme_v1">*</a>{{ end }}
        </li>
        {{ end }}
    {{ end }}
    </ul>
{{ end }}

<h1 id="libraries">{{ .Get "libraries" }}</h1>

{{ $certbot := .Inner }}

{{ range $.Site.Data.clients.libraries }}
    <h2 id="libraries-{{ urlize . }}">{{ . }}</h2>
    {{ $library := . }}
    <ul>
    {{ if eq . "Python"}}
        <li>{{ $certbot | markdownify }}</li>
    {{ end }}
    {{ range $.Site.Data.clients.list }}
        {{ if eq $library .library }}
        <li {{ if not .acme_v2 }}style="color:grey"{{ end }}>
            <a {{ if not .acme_v2 }}style="color:grey"{{ end }} href="{{ if .library_url }}{{ .library_url }}{{ else }}{{ .url }}{{ end }}">{{ .name }}</a>
            {{ if .library_comments }}
                {{ .library_comments | markdownify }}
            {{ else if .comments }}
                {{ .comments | markdownify }}
            {{ end }}
            {{ if not .acme_v2 }}<a href="#acme_v1">*</a>{{ end }}
        </li>
        {{ end }}
    {{ end }}
    </ul>
{{ end }}

<div id="acme_v1">
    * Clients in <span style="color:grey">grey</span> don't support the new ACME v2 API, only the old, deprecated API ACME v1. They will be removed from this list soon.
</div>
<div>
    Note for clients developers: If your client is compatible with ACME v2 but appears in <span style="color:grey">grey</span>, please submit a pull-request to update <code>data/clients.json</code> on <a href="https://github.com/letsencrypt/website">https://github.com/letsencrypt/website</a>
</div>

<h1 id="projects-integrating-with-let-s-encrypt">{{ .Get "projects" }}</h1>

<ul>
{{ range $.Site.Data.clients.projects }}
        <li>
            <a href="{{ .url }}">{{ .name }}</a>
            {{ if .comments }}
                {{ .comments | markdownify }}
            {{ end }}
        </li>
{{ end }}
</ul>

{{ range $.Site.Data.clients.list }}
    {{ if and (not .category) (not .library) }}
            {{ $.MissingLibraryOrCategory }}
    {{ end }}
    {{ if and .category (not (in $.Site.Data.clients.categories .category)) }}
            {{ $.CategoryUnknow }}
    {{ end }}
    {{ if and .library (not (in $.Site.Data.clients.libraries .library)) }}
            {{ $.LibraryUnknow }}
    {{ end }}
{{ end }}
