
{{ $LanguageDirection := or .Page.Language.LanguageDirection "ltr" }}

<div dir="ltr">
{{ range $.Site.Data.clients.categories }}
    <h2 id="clients-{{ urlize . }}">{{ . }}</h2>
    {{ $category := . }}
    <ul>
    {{ range $.Site.Data.clients.list }}
        {{ if (eq $category .category) }}
        <li>
            <a href="{{ .url }}">{{ .name }}</a>
            {{ if .category_comments }}
                {{ .category_comments | markdownify }}
            {{ else if .comments }}
                {{ .comments | markdownify }}
            {{ end }}
        </li>
        {{ end }}
    {{ end }}
    </ul>
{{ end }}

<h1 dir="{{ $LanguageDirection }}" id="libraries">{{ .Get "libraries" }}</h1>

{{ $certbot := .Inner }}

{{ range $.Site.Data.clients.libraries }}
    <h2 id="libraries-{{ urlize . }}">{{ . }}</h2>
    {{ $library := . }}
    <ul dir="ltr">
    {{ if eq . "Python"}}
        <li dir="{{ $LanguageDirection }}">{{ $certbot | markdownify }}</li>
    {{ end }}
    {{ range $.Site.Data.clients.list }}
        {{ if (eq $library .library) }}
        <li>
            <a href="{{ if .library_url }}{{ .library_url }}{{ else }}{{ .url }}{{ end }}">{{ .name }}</a>
            {{ if .library_comments }}
                {{ .library_comments | markdownify }}
            {{ else if .comments }}
                {{ .comments | markdownify }}
            {{ end }}
        </li>
        {{ end }}
    {{ end }}
    </ul>
{{ end }}

<h1 dir="{{ $LanguageDirection }}" id="projects-integrating-with-let-s-encrypt">{{ .Get "projects" }}</h1>

<ul>
{{ range $.Site.Data.clients.projects }}
        <li dir="ltr">
            <a href="{{ .url }}">{{ .name }}</a>
            {{ if .comments }}
                {{ .comments | markdownify }}
            {{ end }}
        </li>
{{ end }}
</ul>
</div>

{{ range $.Site.Data.clients.list }}
    {{ if and (not .category) (not .library) }}
            {{ errorf "Missing Library or Category for %q" .name }}
    {{ end }}
    {{ if and .category (not (in $.Site.Data.clients.categories .category)) }}
            {{ errorf "Category %q Unknow for %q" .category .name }}
    {{ end }}
    {{ if and .library (not (in $.Site.Data.clients.libraries .library)) }}
            {{ errorf "Library %q Unknow for %q" .library .name }}
    {{ end }}
{{ end }}
