<!--
Usage (in english):
	{% def
		id="a unique id for anchor"
		name="The term to define (optional if abbr is provided)"
		abbr="an accronym (optional)" %}
			the definition 
	{% /def %}
	
	<p><dfn id="a unique id for anchor">The term to define</dfn>: the definition</p>
	<p><dfn id="a unique id for anchor"><abbr>an accronym</abbr</dfn>: the definition</p>
	<p><dfn id="a unique id for anchor">The term to define</dfn> (<abbr>an accronym</abbr>): the definition</p>

Usage (in other languages):
	{% def 
		id="a unique id for anchor - the SAME than for english" 
		name="The term to define (optional if english or abbr is provided)"
		abbr="an accronym (optional)"
		english="the english term (optional - if present the abbr is in english too)" %}}
			the definition
	{% /def %}

	<p><dfn id="a unique id for anchor">The term to define</dfn>: the definition</p>
	<p><dfn id="a unique id for anchor"><abbr>an accronym</abbr></dfn>: the definition</p>
	<p><dfn id="a unique id for anchor">The term to define</dfn> (<abbr>an accronym</abbr>): the definition</p>
	<p><dfn id="a unique id for anchor" lang="en">the english term</dfn> (<abbr>an accronym</abbr>): the definition</p>
	<p><dfn id="a unique id for anchor">The term to define</dfn> (<i lang="en">the english term</i>): the definition</p>
	<p><dfn id="a unique id for anchor">The term to define</dfn> (<abbr>an accronym</abbr> - <i lang="en">the english term</i>): the definition</p>

Notes:
	<abbr> is used to spell out for screen readers
	lang="en" is used for the accent for screen readers
-->

<p>
	{{- if .Get "name" -}}
		<dfn id="{{.Get "id" }}">{{.Get "name" }}</dfn>
		{{- if or (.Get "abbr") (.Get "english") -}}
			{{- if .Get "english" }} ({{ with .Get "abbr" }}<abbr lang="en">{{ . }}</abbr> - {{ end -}}<i lang="en">{{ .Get "english" }}</i>)
			{{- else }} (<abbr>{{ .Get "abbr" }}</abbr>)
			{{- end }}
		{{- end }}
	{{- else -}}
		{{- if .Get "english" -}}
			<dfn id="{{.Get "id" }}" lang="en">{{.Get "english" }}</dfn>
			{{- if .Get "abbr" }} (<abbr lang="en">{{ .Get "abbr" }}</abbr>){{- end }}
		{{- else -}}
			<dfn id="{{.Get "id" }}"><abbr>{{.Get "abbr" }}</abbr></dfn>
		{{- end -}}
	{{- end }}: {{ .Inner }}
</p>
