
<h1 id="{{ anchorize  (i18n "overview") }}">{{ i18n "overview" }}</h1>

<ul>
    <li>{{ template "link" (dict "context" . "page" "/getting-started") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/how-it-works") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/faq") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/glossary") }}</li>
</ul>

<h1 id="{{ anchorize (i18n "subscriber_information") }}">{{ i18n "subscriber_information" }}</h1>

<ul>
    <li>{{ template "link" (dict "context" . "page" "/docs/client-options") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/rate-limits") }}
        <ul>
            <li>{{ template "link" (dict "context" . "page" "/docs/duplicate-certificate-limit") }}</li>
        </ul>
        <ul>
            <li>{{ template "link" (dict "context" . "page" "/docs/failed-validation-limit") }}</li>
        </ul>
        <ul>
            <li>{{ template "link" (dict "context" . "page" "/docs/too-many-registrations-for-this-ip") }}</li>
        </ul>
    </li>
    <li>{{ template "link" (dict "context" . "page" "/docs/expiration-emails") }}</li>
</ul>

<h1 id="{{ anchorize (i18n "advanced_subscriber_information") }}">{{ i18n "advanced_subscriber_information" }}</h1>

<ul>
    <li><a href="https://cp.letsencrypt.org">{{ i18n "certificate_policy" }}</a></li>
    <li><a href="https://cps.letsencrypt.org">{{ i18n "certification_practices_statement" }}</a></li>
    <li>{{ template "link" (dict "context" . "page" "/docs/staging-environment") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/cert-compat") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/certificates") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/upcoming-features") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/revoking") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/caa") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/certificates-for-localhost") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/allow-port-80") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/challenge-types") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/ct-logs") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/godaddy") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/ipv6") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/a-warm-welcome-to-asn1-and-der") }}</li>
    <li><a href="/2019/10/09/onboarding-your-customers-with-lets-encrypt-and-acme.html">{{ i18n "onboarding_customers" }}</a></li>
    <li>{{ template "link" (dict "context" . "page" "/docs/lencr-org.md") }}</li>
</ul>

<h1 id="{{ anchorize (i18n "client_developer_information") }}">{{ i18n "client_developer_information" }}</h1>

<ul>
    <li>{{ template "link" (dict "context" . "page" "/docs/integration-guide") }}</li>
    <li>{{ template "link" (dict "context" . "page" "/docs/acme-protocol-updates") }}</li>
    <li><a href="https://github.com/letsencrypt/boulder/blob/master/docs/acme-divergences.md">{{ i18n "acme_divergences_rfc" }}</a></li>
    <li>{{ template "link" (dict "context" . "page" "/docs/account-id") }}</li>
</ul>

{{- define "link" -}}
{{- $page := .context.Site.GetPage .page }}
{{- if or (not $page) (not $page.RelPermalink) }}</li>{{ errorf "Missing page %q in lang %q" .page .context.Page.Lang }}{{ end }}
{{- $tmp := newScratch }}
{{- if .title }}
{{- $tmp.Set "title" .title }}
{{- else if $page.LinkTitle }}
{{- $tmp.Set "title" $page.LinkTitle }}
{{- else if $page.Title }}
{{- $tmp.Set "title" $page.Title }}
{{- else }}{{/* search the English name of an untranslated page */}}
    {{- range first 1 (where $page.Translations "Lang" "eq" "en") }}
        {{- if .LinkTitle}}
            {{- $tmp.Set "title" .LinkTitle }}
        {{- else }}
            {{- $tmp.Set "title" .Title }}
        {{- end }}
    {{- end }}
{{- end }}
<a href="{{ $page.RelPermalink }}" hreflang="{{ $page.Language.Params.languageCode }}">{{$tmp.Get "title"}}</a>
{{- end }}
