{{ $scratch := newScratch }}

<!-- note for translators: please test the url https://donorbox.org/embed/support-lets-encrypt?recurring=true&hide_donation_meter=true&language=XXX before adding a new language -->
{{ if eq .Page.Language.Lang "fr"  }}
  {{ $scratch.Set "lang" "fr" }}
{{ else if eq .Page.Language.Lang "de" }}
  {{ $scratch.Set "lang" "de" }}
{{ else if eq .Page.Language.Lang "pt-br" }}
  {{ $scratch.Set "lang" "pt" }}
{{ else if eq .Page.Language.Lang "zh-cn" }}
  {{ $scratch.Set "lang" "zh" }}
{{ else if eq .Page.Language.Lang "zh-tw" }}
  {{ $scratch.Set "lang" "zh" }}
{{ else if eq .Page.Language.Lang "es" }}
  {{ $scratch.Set "lang" "es" }}
{{ else if eq .Page.Language.Lang "ja" }}
  {{ $scratch.Set "lang" "ja" }}
{{ else if eq .Page.Language.Lang "sv" }}
  {{ $scratch.Set "lang" "sv" }}
{{ end }}

<div class="text-center">
  <script src="https://donorbox.org/widget.js" type="text/javascript"></script>
  <iframe src="https://donorbox.org/embed/support-lets-encrypt?recurring=true&hide_donation_meter=true&language={{ $scratch.Get "lang" }}" height="685px" width="100%" style="max-width:423px; min-width:310px" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no"></iframe>
</div>
