{{ if $.Site.Params.show_fundraiser }}

<div class="fundraiser-wrapper">
  <div class="text-center fundraiser-lead">
    <h3><strong>Support a more secure Web with a donation<br /> to Let’s Encrypt</strong></h3>
    <p>We want to thank you for supporting Let’s Encrypt and HTTPS adoption across the Web. For a limited time, we will send a thank-you gift when you donate at one of the below levels.</p>
  </div>

  <!-- Level 1 -->
  <div id='product-component-96aa7b318c7'></div>
  <!-- Level 2 -->
  <div id='product-component-eeee57f66cf'></div>
  <!-- Level 3 -->
  <div id='product-component-aecb0be48a8'></div>
  <!-- Level 4 -->
  <div id='product-component-ddb801c5fb7'></div>
  <!-- Level 5 -->
  <div id='product-component-97d68344251'></div>

  <script src="/js/fundraiser.js" async></script>

  <div class="text-center fundraiser-end">
    <h4><strong>If you don't want a gift or want to donate a different amount please do so below. Thank you for contributing to a better Web!</strong></h4>
  </div>

</div>

{{ end }}