
<span id="plot-translations"
    data-issued="{{ i18n "graph_issued" }}"
    data-certificates_active="{{ i18n "graph_certificates_active" }}"
    data-fully_qualified_domains_active="{{ i18n "graph_fully_qualified_domains_active" }}"
    data-registered_domains_active="{{ i18n "graph_registered_domains_active" }}"
    data-active_count="{{ i18n "graph_active_count" }}"
    data-issued_per_day="{{ i18n "graph_issued_per_day" }}"
    data-all_users="{{ i18n "graph_all_users" }}"
    data-usa_users="{{ i18n "graph_usa_users" }}"
    data-japan_users="{{ i18n "graph_japan_users" }}"
    data-percent_https="{{ i18n "graph_percent_https" }}"
></span>

<script src="/js/plotly-min.js" defer></script>
{{/* translations uploaded from https://github.com/plotly/plotly.js/tree/master/dist */}}
{{ if eq "en" .Page.Language.Lang }}
    {{/* nothing to do */}}
{{ else if eq "ca" .Page.Language.Lang }}
    <script src="/js/plotly-locale-ca.js" defer></script>
{{ else if eq "cs" .Page.Language.Lang }}
    <script src="/js/plotly-locale-cs.js" defer></script>
{{ else if eq "de" .Page.Language.Lang }}
    <script src="/js/plotly-locale-de.js" defer></script>
{{ else if eq "fr" .Page.Language.Lang }}
    <script src="/js/plotly-locale-fr.js" defer></script>
{{ else if eq "el" .Page.Language.Lang }}
    <script src="/js/plotly-locale-el.js" defer></script>
{{ else if eq "es" .Page.Language.Lang }}
    <script src="/js/plotly-locale-es.js" defer></script>
{{ else if eq "pl" .Page.Language.Lang }}
    <script src="/js/plotly-locale-pl.js" defer></script>
    {{ else if eq "pt-br" .Page.Language.Lang }}
    <script src="/js/plotly-locale-pt-br.js" defer></script>
{{ else if eq "ru" .Page.Language.Lang }}
    <script src="/js/plotly-locale-ru.js" defer></script>
{{ else if eq "ta" .Page.Language.Lang }}
    <script src="/js/plotly-locale-ta.js" defer></script>
{{ else if eq "th" .Page.Language.Lang }}
    <script src="/js/plotly-locale-th.js" defer></script>
{{ else if eq "zh-cn" .Page.Language.Lang }}
    <script src="/js/plotly-locale-zh-cn.js" defer></script>
{{ else if eq "zh-tw" .Page.Language.Lang }}
    <script src="/js/plotly-locale-zh-tw.js" defer></script>
{{ else if eq "ja" .Page.Language.Lang }}
    <script src="/js/plotly-locale-ja.js" defer></script>
{{ else if eq "id" .Page.Language.Lang }}
    <script src="/js/plotly-locale-id.js" defer></script>
{{ else if eq "ko" .Page.Language.Lang }}
    <script src="/js/plotly-locale-ko.js" defer></script>
{{ else if eq "sr" .Page.Language.Lang }}
    <script src="/js/plotly-locale-sr.js" defer></script>
{{ else if eq "sv" .Page.Language.Lang }}
    <script src="/js/plotly-locale-sv.js" defer></script>
{{ else if eq "vi" .Page.Language.Lang }}
    <script src="/js/plotly-locale-vi.js" defer></script>
{{ else if eq "he" .Page.Language.Lang }}
    <script src="/js/plotly-locale-he.js" defer></script>
{{ else if eq "uk" .Page.Language.Lang }}
    <script src="/js/plotly-locale-uk.js" defer></script>
{{ else if eq "it" .Page.Language.Lang }}
    <script src="/js/plotly-locale-it.js" defer></script>
{{ else if eq "si" .Page.Language.Lang }}
    <script src="/js/plotly-locale-si.js" defer></script>
{{ else if eq "fi" .Page.Language.Lang }}
    <script src="/js/plotly-locale-fi.js" defer></script>
{{ else if eq "hu" .Page.Language.Lang }}
    <script src="/js/plotly-locale-hu.js" defer></script>
{{ else if eq "da" .Page.Language.Lang }}
    <script src="/js/plotly-locale-da.js" defer></script>
{{ end }}
<script src="/js/stats.js" defer></script>
