name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          # same as netlify.toml
          hugo-version: '0.148.2'
          extended: true
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Setup html5validator
        run: |
          python -m pip install --upgrade pip
          pip install html5validator
      - run: npm install
      - run: npm run build
      - run: npm test
      - name: Install xmllint
        run: sudo apt-get install -y libxml2-utils
      - name: Validate RSS feed
        run: xmllint --noout public/feed.xml
      # - run: npm run test:html5validate
