name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node_version: 16
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          # same as netlify.toml
          hugo-version: '0.89.1'
          extended: true
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Setup html5validator
        run: |
          python -m pip install --upgrade pip
          pip install html5validator
      - run: npm install
      - run: npm run build
      - run: npm test
      - run: npm run test:html5validate
